OPENAI_API_KEY=<Your Key>
GEMINI_API_KEY=<Your Key>
AZURE_OPENAI_API_KEY=<Your Key>
AZURE_OPENAI_ENDPOINT=<Your Endpoint>
AZURE_OPENAI_DEPLOYMENT=<Your Deployment>
AZURE_OPENAI_API_VERSION=<Your API Version>